-# %section
-#   %ul.calendar
-#     %li
-#       %img{ :src => image_path('joel.png') }
-#       %span Winner?
-#       %img{ :src => image_path('joel.png') }
-#     %li.date
-#       %span Today
-#     %li
-#       %img{ :src => image_path('joel.png') }
-#       %span 3:00pm
-#       %img{ :src => image_path('joel.png') }
-#     %li
-#       %img{ :src => image_path('joel.png') }
-#       %span 3:00pm
-#       %img{ :src => image_path('joel.png') }
-#     %li
-#       %img{ :src => image_path('joel.png') }
-#       %span 3:00pm
-#       %img{ :src => image_path('joel.png') }
-#     %li
-#       %img{ :src => image_path('joel.png') }
-#       %span 3:00pm
-#       %img{ :src => image_path('joel.png') }
-#     %li
-#       %img{ :src => image_path('joel.png') }
-#       %span 3:00pm
-#       %img{ :src => image_path('joel.png') }
-#     %li
-#       %img{ :src => image_path('joel.png') }
-#       %span 3:00pm
-#       %img{ :src => image_path('joel.png') }
-#     %li
-#       %img{ :src => image_path('joel.png') }
-#       %span 3:00pm
-#       %img{ :src => image_path('joel.png') }
-#     %li
-#       %img{ :src => image_path('joel.png') }
-#       %span 3:00pm
-#       %img{ :src => image_path('joel.png') }
-#     %li
-#       %img{ :src => image_path('joel.png') }
-#       %span 3:00pm
-#       %img{ :src => image_path('joel.png') }
