.fa-surface { height: 100% }

.ui-input-text {
  display: inline-block;
}

html, body {
  height: 100%;
  background: #434a54;
  font-family: 'Calibri';
}

.growl {
  height: 100%;
  padding-left: 45px;
  display: flex;
  align-items: center;
  font-size: 3vh;
  color: #fff;
}

.bar {
  display: flex;
  // align-items: center;
  justify-content: flex-end;
  overflow: hidden;

  .new-challenge {
    position: relative;
    left: -4vmin;
    top: .7vmin;
    color: #fff;
    font-size: 9vmin;
    cursor: pointer;
  }
}

.datepicker {
  border: 1px solid blue;
}


.date {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  color: #fff;
}


.portraits {
  // copy of portrait code
  margin: 5vmin auto 0;
  height: 16vh;
  width: 16vh;
  border: 5px solid #5e5f5f;
  border-radius: 1000px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.opponent {
  img {
    width: 13vh;
    transition: all .5s;

    &.selected {
      -webkit-filter: brightness(121%);
      -webkit-filter: hue-rotate(180deg);
    }
  }
}






.stopChallengeTime {
  display: flex;
  justify-content: space-around;

  select {
    width: 6vh;
    height: 6vh;
    background: #2c3337;
    border-radius: 6px;
    border-top: 1px solid #0e1011;
    box-shadow: 0 1px #5e5f5f inset, 0 1px #32393c;
    color: #fff;
    font-size: 2.5vh;
    text-align: center;
  }
}

.submit {
  text-align: center;
  margin: 10vh 5vh;
  font-size: 4vh;
  color: #fff;
  border: 1px solid #fff;
  padding: 2vh;
  background: #2c3337;
  box-shadow: 0 1px 1px #646464;
}




.portrait {
  // copy of portrait code
  margin: 5vmin auto 0;
  height: 16vmax;
  width: 16vmax;
  border: 5px solid #5e5f5f;
  border-radius: 1000px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.stats {
  display: flex;
  justify-content: space-around;

  .wins, .losses {
    text-align: center;
    font-size: 4vmax;

    .place {
      color: #5e5f5f;
      font-size: 2vmax;
    }
  }

  .wins {
    color: #91c67b;
  }

  .losses {
    color: #cb6f6f;
  }
}


.calendar-item-container .fa-surface {
  height: 100%;
}

.calendar-item {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #0e1011;
  box-shadow: 0 1px #5e5f5f inset, 0 1px #32393c;
  color: #fff;

  &.to_accept {
    color: green;
  }

  .item-portrait {
    width: 7vmax;
    height: 7vmax;
    border: 3px solid #5e5f5f;
    border-radius: 1000px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .time {
    display: inline-block;
    width: 20%;
    color: #5e5f5f;
    font-size: 2vmax;
    text-align: center;
  }
}


// nav {
//   padding: 1.5vh 2vh;
//   display: flex;
//   justify-content: space-around;
//   background: #000;
//   color: #aaa;
//   font-size: 3.25vh;
//   -webkit-user-select: none;
//   user-select: none;

//   ul {
//     width: 100%;
//     display: flex;
//     justify-content: space-around;
//     text-transform: uppercase;
//     cursor: pointer;

//     li.selected {
//       color: #fff;
//       text-shadow: 0 0 5px #fff;
//     }
//   }
// }

// main {
//   width: auto;
//   overflow-x: hidden;
//   overflow-y: hidden;
//   white-space: nowrap;
//   -webkit-user-select: none;
//   user-select: none;

//   .wrapper {
//     position: relative;
//     width: 200vw;
//   }

//   section {
//     width: 100vw;
//     height: 94vh;
//     display: inline-block;
//     overflow-y: scroll;
//     vertical-align: top;
//   }
// }

// .calendar {
//   li {
//     display: flex;
//     justify-content: space-around;
//     border-bottom: 1px solid #000;

//     &.date {
//       background: #fff;
//     }

//     img {
//       height: 12vh;
//       margin: 2vmin;
//     }

//     span {
//       font-size: 6vmin;
//       line-height: 14vmin;
//     }
//   }
// }

// .challenge {
//   position: relative;

//   .popup {
//     // display: none;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, .85);
//     color: #fff;

//     .form {
//       position: relative;
//       height: 50vh;
//       max-height: 450px;
//       width: 50vw;
//       max-width: 900px;
//       margin: 19vh auto;
//       z-index: 2;
//       background: red;
//     }

//     .blocker {
//       position: absolute;
//       top: 0;
//       left: 0;
//       height: 100%;
//       width: 100%;
//       z-index: 1;
//     }
//   }

//   .vs {
//     display: flex;
//     justify-content: space-around;
//     margin-top: 4vw;
//     height: 10vw;
//     min-height: 100px;

//     img {
//       height: 100%;
//     }

//     span {
//       font-size: 6vw;
//       line-height: 23vmin;
//     }
//   }

//   .challengers {
//     width: 70vw;
//     margin: 5vmax auto 0;
//     display: flex;
//     justify-content: space-around;
//     flex-wrap: wrap;

//     img {
//       height: 15vmin;
//       margin: .5vmin;
//     }
//   }
// }
