%section
  %ul.calendar
    %li{ 'ng-repeat' => 'challenge in challenges | orderBy:"-timestamp"', }
      %img{ :src => 'assets/images/{{users[challenge.challenger_id].img}}' }
      %span {{users[challenge.challenger_id].first_name}}
      %span vs
      %span {{users[challenge.opponent_id].first_name}}
      %img{ :src => 'assets/images/joel.jpg' }
