-# %section.challenge{ 'ng-controller' => 'ChallengeController' }
%section.challenge
  challenge
-#   .popup{ 'ng-show' => 'selectedUser' }
-#     %h2 {{selectedUser.first_name}} {{selectedUser.last_name}}
-#     %h2 Wins: 5
-#     %h2 Losses: 5
-#     %h2 Rank: 1
-#     %button{ 'ng-click' => 'sendChallenge' } Challenge!

-#   .challengers
-#     %img{ 'ng-repeat' => 'user in users', :src => '{{user.img}}', :challenger => '{{user.id}}' }
