-# %section.challenge{ 'ng-controller' => 'ChallengeController' }
%section.challenge
  .popup{ 'ng-show' => 'userToSmite' }
    .form
      %h2 {{userToSmite.first_name}} {{userToSmite.last_name}}
      %h2 Wins: 5
      %h2 Losses: 5
      %h2 Rank: 1
      %input{ :type => 'datetime-local', 'ng-model' => 'challengeStartTime' }
      %h1 {{start}}
      %button{ 'ng-click' => 'sendChallenge()' } Challenge!
    .blocker{ 'ng-click' => 'clearChallenge()' }

  .challengers
    %img{ 'ng-repeat' => 'opponent in opponents', :src => 'assets/images/{{opponent.img}}', :challenger => '{{opponent["id"]}}', 'ng-click' => 'openChallengeForm(opponent)', :alt => '{{opponent}}' }
