%nav
  %ul
    %li{ 'ng-class' => '{ selected: page == 1 }' } calendar
    %li{ 'ng-class' => '{ selected: page == 2 }' } tournament
    %li{ 'ng-class' => '{ selected: page == 3 }' } challenge

%main
  .wrapper
    = Tilt::HamlTemplate.new('app/views/calendar.haml').render
    = Tilt::HamlTemplate.new('app/views/tournament.haml').render
    = Tilt::HamlTemplate.new('app/views/challenge.haml').render
